# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/local.properties
android/**/generated/
android/app/debug/
android/app/profile/
android/app/release/
**/google-services.json

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
**/Podfile.lock
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.settings/

# Rahasia & Konfigurasi (Penting!)
.env*
*.env
lib/core/constants/supabase_config.dart.local

# Hasil Build & Log
*.log
*.apk
*.aab
*.ipa
