<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutriginjal.id">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
</manifest>
